.menu{
    position: absolute;
    display: flex;
    top: 0;
    width: 50%;
    left: 20%;
}

.links {
    width: 100%;
}

.links-list {
    display: flex;
    text-align: left;
}

a {
    color: white;
    text-decoration: none;
}

@media all and (min-width: 540px) and (max-width: 768px) {
    .menu {
      left: 10%;
    }
  }

  @media all and (max-width: 540px) {
    .menu {
      left: 0;
    }

    .links-list {
        display: flex;
        flex-direction: column;
    }
  }