.form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  @media all and (max-width: 768px) {
    .form-content {
      display: flex;
      flex-direction: column;
    }
  }